html {
  font-family: system-ui;
  background: #c661b767;
}

main {
  margin: auto;
  padding: 1.5rem;
  max-width: 80ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  color: rgb(205, 2, 188);
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}

.text {
  line-height: 1.8;
  margin: 1rem 0;
  border: 1px solid rgba(#800870, 25%);
  background-color: white;
  padding: 1rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; /* Set a fixed width */
  height: auto; /* Allow the height to grow */
}

button {
  background-color: purple;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading-spinner {
  margin-top: 1rem;
  border: 8px solid #9a238e;
  border-top-color: #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }  
}